*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div button:hover,#homePage:last-child div div:hover{
    opacity: 80%;
}
#homePage,#loginPage,#signinPage{
    display: flex;
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: aliceblue;
    border-bottom: 1px solid rgba(132, 132, 132, 0.574);
}

#homePage div:last-child{
    display: flex;
}
#homePage input{
    width: 500px;
}
#homePage div:last-child div{
    background-color: rgb(93, 249, 79);
    margin-right: 2rem;
    font-size: larger;
    padding: 0.5rem;
    border-radius: 9px;
}
#search:hover, #search+button:hover {
    border: 3px solid rgb(231, 252, 1);
}
#homePage div:last-child a{
    text-decoration: none;
    color: black;
}
#loginPage a,#signinPage a{
    color: rgb(148, 148, 148);
}

#login, #signin{
    background-color: rgba(213, 251, 204, 0.346);
    padding: 1rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    width: 200px;
}
#login button, #signin button{
    margin-top: 20px;
    width: 80px;
    margin-left: 50%;
    background-color: rgb(26, 26, 26);
    border-radius: 4px;
    color: rgb(131, 249, 102);
    padding: 10px;
}

#homeMain{
    display: flex;
}
#homeMain div:first-child{
    flex-grow: 3;
    color: aliceblue;
}
#info{
    flex-grow: 1;
    color: aliceblue;
    padding: 20px;
    background-color: black;
}
#homeMain header{
    background-image: url("../assets/adele_21.webp");
    background-size: cover;
}
#homeMain h3,h2,h4,h5{
    margin: 0;
    padding: 20px;
}
#homeMain header h2{
    padding:0 20px;
    font-size: 100px;
}
h3 i{
    color:rgb(0, 204, 255)
}
#homeMain footer{
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: aliceblue;
}
#homeMain section{
    background:linear-gradient(rgb(121, 121, 121),rgb(5, 5, 5))
}
#pauseButton{
    color: greenyellow;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
#pauseButton i{
    font-size: 50px;
}

ul{
    list-style: none;
}
ul li{
    margin-top: 10px;
    display: flex;
    padding: 5px;
}
ul li:hover{
    background-color: rgb(92, 91, 91);
    border: 0,7px solid black;
}
ul span i:hover{
    color:rgb(217, 124, 61)
}
ul li div{
    display: flex;
    align-items: center;
}
ul span:first-child,ul img{
    margin-right: 15px;
}

ul li:nth-child(3) span:nth-child(3){
    color:rgb(156, 252, 1);
}

