*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    background-color: rgb(28, 27, 27);
}
div button:hover,#homePage:last-child div div:hover{
    opacity: 80%;
}
#homePage,#loginPage,#signinPage{
    display: flex;
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: aliceblue;
    border-bottom: 1px solid rgba(143, 255, 16, 0.809);
}

#homePage div:last-child{
    display: flex;
}
#homePage input{
    width: 500px;
}
#homePage div:last-child div{
    background-color: rgb(41, 223, 84);
    margin-right: 2rem;
    font-size: larger;
    padding: 0.5rem;
    border-radius: 9px;
}
#search:hover, #search+button:hover {
    border: 3px solid rgb(231, 252, 1);
}
#homePage div:last-child a{
    text-decoration: none;
    color: black;
}
#loginPage a,#signinPage a{
    color: rgb(148, 148, 148);
}

#login, #signin{
    background-color: rgba(213, 251, 204, 0.346);
    padding: 1rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    width: 200px;
}
#login button, #signin button{
    margin-top: 20px;
    width: 80px;
    margin-left: 50%;
    background-color: rgb(26, 26, 26);
    border-radius: 4px;
    color: rgb(131, 249, 102);
    padding: 10px;
}

#homeMain{
    display: flex;
}
#homeMain div:first-child{
    flex-grow: 3;
    color: aliceblue;
}
#homeMain header div{
border-bottom: 1px solid rgba(255, 255, 255, 0.472);
}
#info{
    flex-grow: 2;
    color: aliceblue;
    padding: 20px;
    background-color: black;
}
#homeMain header{
    background-image: url("../assets/adele_21.webp");
    background-size: cover;
}
#homeMain h3,h2,h4,h5{
    margin: 0;
    padding: 20px;
}
#homeMain header h2{
    padding:0 20px;
    font-size: 100px;
}
h3 i{
    color:rgb(0, 204, 255)
}
#homeMain footer{
    background-color: rgb(47, 47, 47);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: aliceblue;
}

#homeMain section > div:first-child{
    display: flex;
    align-items: center;
}
#homeMain section > div:first-child button{
    margin: 15px 25px;
}

#pauseButton{
    color: rgba(143, 255, 16, 0.809);
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
#pauseButton i{
    font-size: 50px;
}

#followButton,#infoButton{
    border-radius: 4px;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    border-color: rgba(240, 248, 255, 0.661);
    font-weight: bold;
}

#followButton:hover{
    background-color: rgba(113, 184, 234, 0.799);
    color: black;
}
#infoButton{
    border: none;
    font-size: 30px;
}
#infoButton:hover{
    background-color: rgb(203, 203, 203);
    color: rgb(69, 69, 69);
}

ul{
    list-style: none;
}
ul li{
    margin-top: 10px;
    display: flex;
    padding: 5px;
}
ul li:hover{
    background-color: rgb(92, 91, 91);
    border: 0,7px solid black;
}
ul span i:hover{
    color :rgba(242, 186, 186, 0.77);
}
ul li div{
    display: flex;
    align-items: center;
}
ul span:first-child,ul img{
    margin-right: 40px;
}

ul li:nth-child(3) span:nth-child(3){
    color:rgb(156, 252, 1);
}

ul li span:nth-child(){
    color:rgb(156, 252, 1);
}

footer{
    display: flex;
    justify-content: space-around;
}
footer h5{
    padding-top:0;
    font-weight: bold;
}
#homeMain footer h3{
    padding:0;
    font-weight: bold;
}
footer div:nth-child(2){
    flex-grow: 1;
    font-size: 40px;
}
footer div:nth-child(3){
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#audioCommand section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
footer i{
    margin:15px 10px
}
footer div:last-child{
    flex-grow: 0;
}
footer div:nth-child(2) button i{
    font-size:40px;
    color:aliceblue
}
footer div:nth-child(2) button i:hover{
    font-size:40px;
    color :rgba(242, 186, 186, 0.77);
}
footer button i{
    font-size:20px;
    color:rgb(87, 141, 188)
}
footer button{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
footer button:hover{
    background-color: rgba(78, 78, 78, 0.293);
    border: none;
}
footer div:first-child h3{
    color: rgba(143, 255, 16, 0.809);
}

#info li{
    color :rgba(242, 186, 186, 0.77);
}



