*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
    padding: 0;
    margin: 1rem;
}

nav{
    border: 1px solid black;
    padding: 1rem;
}

nav img:first-child{
width: 10rem;
}

nav img:last-child{
    width: 2rem;
    float: right;
}

.gallery img{
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    display: block;
    float: left;
}
.gallery{
    margin: 1rem;
}

.articles{
    margin: 1rem 0 1rem 2rem;
}

.clearRow::after{
    clear:both;
    content:"";
    display: block;
}

div#containerSx{
    width: 50%;
    height: 700px;
    background-color: rgb(114, 175, 125);
}
div#containerDx{
    background-color: rgb(225, 255, 161);
    display: inline-block;
    width:50%;
    height: 700px;
}

#containerDx{
    border: 1px solid black;
    float: left;
}

#containerSx{
    border: 1px solid black;
    float: left;
}

#containerDx .contacts{
    border: 1px solid black;
}

#containerDx .contacts img{
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
}

.notizie {
    border: 1px solid black;
    margin: 5px;
}

#containerSx div {
    width: 90%;
}

.contacts{
    display: block;
}
.contacts div{
    float: left;
}

.contacts div:last-child{
    margin-left: 2rem;
}

div#containerSx div h2{
    margin: 0;
}