/* 
  TODO:  
  @media 
  @keyframes  
*/


:root {
  --primary-orange: rgb(250, 140, 23);
  /* --primary-orange: rgb(25, 24, 25); */
  --secondary-gray: rgb(62, 57, 57);
  --secondary-black: rgb(44, 39, 39);
  --detail-white: rgb(246, 244, 244);
  --detail-orange: rgb(255, 164, 27);
  --detail-yellow: rgb(240, 255, 27);
  --detail-azure: rgb(27, 255, 244);
  --detail-green: rgba(116, 250, 98, 0.913);

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.logo {
  margin: 1rem;
  width: 100px;
  border-radius: 10px;
}

.top-bar {
  position: fixed;
  width: 100%;
  background-color: var(--secondary-black);
  color: var(--detail-white);
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  border-bottom: 3px var(--detail-azure) solid;
  z-index: 1;
}

.top-bar div:last-child {
  flex-grow: 1;
}

.top-bar h1 {
  font-size: 3em;
  text-shadow: 3px 2px var(--detail-orange);
}

.App {
  background-color: var(--primary-orange);
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 130px;
  background-color: var(--secondary-black);
  color: var(--detail-white);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: var(--detail-azure) 4px solid;
  min-width: fit-content;
}

.menuList {
  list-style: none;
  padding: 0;
  font-size: large;
  font-weight: bolder;
}

.menuList li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuList i {
  width: 1rem;
}

.menuList a {
  color: var(--detail-yellow);
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menuList a:hover {
  color: var(--detail-azure);
  background-color: var(--secondary-black);
  border-radius: 3px;
}

.galleryArrow {
  font-size: xx-large;
  border: none;
  border-radius: 4px;
  background-color: var(--detail-orange);
  position: absolute;
  top: 250px;
}

.galleryArrow:first-child {
  left: 0;
}

.galleryArrow:last-child {
  right: 0;
}

.galleryArrow:hover {
  background-color: var(--detail-white);
}

.galleryImgs {
  max-height: 90%;
  border-radius: 4px;
  margin: 1rem;
  max-width: 80%;
}

.gallery {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  position: relative;
}

.mappa {
  border: 1px solid var(--secondary-black);
  border-radius: 15px;
}

.content {
  text-align: center;
  margin: 0rem 17rem;
  width: 100%;
  color: var(--detail-white)
}

.contentCard {
  margin-top: 2rem;
  background-image: linear-gradient(163deg, var(--detail-azure), var(--detail-yellow) 100%);
  border-radius: 20px;
  transition: all .3s;
}

.contentCard:first-child {
  margin-top: 9rem;
}

.contentCard h1 {
  border-bottom: 3px solid var(--detail-white);
}

.contentCard:hover {
  box-shadow: 0px 0px 30px 1px var(--detail-yellow);
}

.contentCard2 {
  padding: 1rem;
  background-color: var(--secondary-black);
  border-radius: 10px;
  transition: all .2s;
}

.contentCard2 a {
  color: var(--detail-white);
}

.contentCard2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  z-index: 2;
}

.indirizzo p {
  text-align: end;
  padding-right: 3rem;
  padding-top: 1rem;
}

.filosofia b {
  color: var(--detail-yellow)
}

.teamSection b {
  color: var(--detail-green)
}

.teamSection ul {
  padding: 1rem;
  text-align: justify;
  border-bottom: 1px solid var(--detail-white);
  list-style: none;
}

.teamSection li {
  padding: 1rem;
}

.corso {
  border: 1px solid var(--detail-azure);
  padding: 1rem;
  text-align: justify;
}

.hoverGray:hover {
  background-color: var(--secondary-gray);
}

.corso h2{
  display: flex;
  gap: 1rem;
}
.hide {
  display: none;
}

.infoCorso li{
  padding: 0.5rem;
}
.titoloCorso{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* css form  */
.form-container {
  margin: 1rem auto ;
  width: 70%;
  background: linear-gradient(var(--secondary-black),var(--secondary-black)) padding-box,
              linear-gradient(180deg, transparent 10%,var(--detail-orange), var(--detail-green)) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  color:var(--detail-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--detail-white);
  font-weight: 600;
  font-size: small;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--detail-white);
  font-family: inherit;
  background-color: transparent;
  border: 3px solid var(--secondary-gray);
}

.form-container .form-group select{
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--detail-white);
  font-family: inherit;
  background-color: transparent;
  border: 3px solid var(--secondary-gray);
}
.form-container .form-group select option{
  color: var(--secondary-black);
  font-weight: 500;
}

.form-container .form-group input::placeholder {
  opacity: 0.7;
}

.form-container .form-group input:focus ,.form-container .form-group select:focus  {
  border-width: 1px;
  outline: none;
  border-color: var(--detail-azure);
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  color:var(--secondary-black);
  font-weight: 600;
  width: 40%;
  background:var(--detail-white);
  border: 1px solid var(--secondary-gray);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color:var(--detail-azure);
  border-color: var(--secondary-black);
  color: black;
}

.delete-btn{
  background-color:rgb(252, 110, 67);
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.form-modify-btn{
  display: flex;
  justify-content: space-between;
}

.mod-btn{
  background-color:rgb(252, 215, 67);
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.aggiungiCorso h1{
  color:var(--detail-yellow);
  border:none;
}

.aggiungiCorso h1:hover{
  color:var(--detail-azure)
}

.aggiungiCorso{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
.messageText{
  color:var(--detail-green)
}
.infoPrenotazione{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.infoCorso{
  padding: 1rem 0.5rem;
  display: flex; 
  flex-direction: column;
  gap: 0.5rem;
}