:root {
  --custom-gray: rgb(83, 78, 78);
  --custom-black: rgb(44, 39, 39);
  --detail-white: rgb(246, 244, 244);
  --detail-orange: #fbd61b;
  --detail-rose: #ff56cc;
  --detail-yellow: #fbca7e;
  --detail-green: rgba(116, 250, 98, 0.913);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.logo {
  margin: 1rem;
  width: 100px;
  border-radius: 10px;
}

.top-bar {
  position: fixed;
  width: 100%;
  background-color: var(--custom-black);
  color: var(--detail-white);
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  border-bottom: 3px var(--detail-yellow) solid;
  z-index: 1;
}

.top-bar div:last-child {
  flex-grow: 1;
}

.top-bar h1 {
  font-size: 3em;
}

.App {
  /* background-image: url('https://images2.alphacoders.com/202/202042.jpg'); */
  background-image: url('https://images5.alphacoders.com/102/1020357.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 130px;
  background-color: var(--custom-black);
  color: var(--detail-white);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: var(--detail-yellow) 4px solid;
  min-width: fit-content;
}

.menuList {
  list-style: none;
  padding: 0;
  font-size: large;
  font-weight: bolder;
}

.menuList li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuList i {
  width: 1rem;
}

.menuList a {
  color: var(--detail-rose);
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menuList a:hover {
  color: var(--detail-yellow);
  background-color: var(--custom-black);
  border-radius: 3px;
}

.galleryArrow {
  font-size: xx-large;
  border: none;
  border-radius: 4px;
  background-color: var(--detail-orange);
}

.galleryArrow:first-child {
  left: 0;
}

.galleryArrow:last-child {
  right: 0;
}

.galleryArrow:hover {
  background-color: var(--detail-white);
}

.galleryImgs {
  object-fit: contain;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.imgsContainer {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
  height: 30rem;
  position: relative;
  gap: 1rem;
}

.mappa {
  border: 1px solid var(--custom-black);
  border-radius: 15px;
  width: 425px;
  height: 350px;
  padding: 10px;
}

.content {
  text-align: center;
  margin: 0rem 17rem;
  width: 100%;
  color: var(--detail-white)
}

.dz-message {
  color: #4267b2
}

.contentCard {
  margin-top: 2rem;
  background-image: linear-gradient(163deg, var(--detail-yellow), var(--detail-rose) 100%);
  border-radius: 20px;
  transition: all .3s;
}

.contentCard:first-child {
  margin-top: 9rem;
}

.contentCard h1 {
  border-bottom: 3px solid var(--detail-white);
}

.contentCard:hover {
  box-shadow: 0px 0px 30px 1px var(--detail-rose);
}

.contentCard2 {
  padding: 1rem;
  background-color: var(--custom-black);
  border-radius: 10px;
  transition: all .2s;
}

.contentCard2 a {
  color: var(--detail-white);
}

.contentCard2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  z-index: 2;
}

.indirizzo p {
  text-align: end;
  padding-right: 3rem;
  padding-top: 1rem;
}

.filosofia b {
  color: var(--detail-rose)
}

.teamSection b {
  color: var(--detail-green)
}

.teamSection ul {
  padding: 1rem;
  text-align: justify;
  border-bottom: 1px solid var(--detail-white);
  list-style: none;
}

.teamSection li {
  padding: 1rem;
}

.corso {
  border: 1px solid var(--detail-yellow);
  padding: 1rem;
  text-align: justify;
}

.hoverGray:hover {
  background-color: var(--custom-gray);
}

.corso h2 {
  display: flex;
  gap: 1rem;
}

.hide {
  display: none;
}

.infoCorso li {
  padding: 0.5rem;
}

.titoloCorso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

.form-container {
  margin: 1rem auto;
  width: 70%;
  background: linear-gradient(var(--custom-black), var(--custom-black)) padding-box,
    linear-gradient(var(--detail-orange), var(--detail-green)) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  color: var(--detail-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--detail-white);
  font-weight: 600;
  font-size: small;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--detail-white);
  font-family: inherit;
  background-color: transparent;
  border: 3px solid var(--custom-gray);
}

.form-container .form-group select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--detail-white);
  font-family: inherit;
  background-color: transparent;
  border: 3px solid var(--custom-gray);
}

.form-container .form-group select option {
  color: var(--custom-black);
  font-weight: 500;
}

.form-container .form-group input::placeholder {
  opacity: 0.7;
}

.form-container .form-group input:focus,
.form-container .form-group select:focus {
  border-width: 1px;
  outline: none;
  border-color: var(--detail-yellow);
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  color: var(--custom-black);
  font-weight: 600;
  width: 40%;
  background: var(--detail-white);
  border: 1px solid var(--custom-gray);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: var(--detail-yellow);
  border-color: var(--custom-black);
  color: black;
}

.delete-btn {
  background-color: rgb(252, 110, 67);
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.form-modify-btn {
  display: flex;
  justify-content: space-between;
}

.mod-btn {
  background-color: rgb(252, 215, 67);
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.aggiungiCorso h1 {
  color: var(--detail-rose);
  border: none;
}

.aggiungiCorso h1:hover {
  color: var(--detail-yellow)
}

.aggiungiCorso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.messageText {
  color: var(--detail-green)
}

.infoPrenotazione {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.prenotazioneCliente {
  align-self: flex-end;
}

.infoCorso {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pConclusa:hover {
  background-color: rgba(255, 0, 0, 0.381);
}

.pConclusa {
  background-color: rgba(67, 1, 1, 0.582);
}

.scroll {
  overflow-y: scroll;
  height: 300px;
}

/* Personalizzazione generale della scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Personalizzazione dello stile del thumb */
::-webkit-scrollbar-thumb {
  background-color: #4d3d4e;
  border: 3px solid rgb(252, 248, 248);
  border-radius: 5px;
}

/* Personalizzazione dello stile dello sfondo */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 5px;
}

.btn {
  color: var(--custom-black);
  font-weight: 600;
  width: 40%;
  background: var(--detail-white);
  border: 1px solid var(--custom-gray);
  padding: 12px 16px;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 6px;
  font-size: large;
}

.btn:hover {
  background-color: var(--detail-yellow);
}

.checkboxMenu {
  display: none;
}

@media (min-width: 701px) and (max-width: 1024px) {

  /* Regole di stile per dispositivi con larghezza tra 700px e 1024px */
  .menu {
    display: flex;
    flex-direction: row;
    top: 9rem;
    left: 0;
    padding: 10px;
    width: 100%;
    margin: 0;
    z-index: 2;
    justify-content: center;
  }

  .menu i {
    margin-left: 1rem;
  }

  .menu a {
    padding: 0;
  }

  .menuList {
    gap: 20px;
    display: flex;
  }

  .App {
    padding: 2rem;
  }

  .content {
    margin: 8rem 0 0;
  }

  .gallery {
    width: initial;
  }

  .scroll {
    height: initial;
    overflow: auto;
  }
}

@media screen and (max-width: 700px) {

  /* Regole di stile per dispositivi con larghezza fino a 700px */
  .menu {
    display: block;
    top: 11rem;
    left: 0;
    margin: 10px;
    z-index: 2;
  }

  h1 {
    height: 90px;
  }

  .App {
    padding: 2rem;
  }

  .content {
    margin: 5rem 0 0;
  }

  .gallery {
    width: initial;
  }

  .scroll {
    height: initial;
    overflow: auto;
  }

  .mappa {
    border: 1px solid var(--custom-black);
    border-radius: 15px;
    width: 300px;
  }

  .checkboxMenu {
    display: block;
  }

  .show {
    display: block;
  }

  .hideMenu {
    display: none;
  }

  #hamburger-checkbox {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

}