a[href="/the-one-ring"],
a[href="/the-one-ring"]:visited{
    color:rgb(255, 0, 0);
}

a[href="/melange"],
a[href="/melange"]:visited{
    color:rgb(241, 223, 85);
}

a[href="/"],
a[href="/"]:visited{
    color:black;
}

.movies-quotes span{
   font-style: italic;
}

.movies-quotes span:nth-child(odd)::after{
    content: "«";
}

.movies-quotes span:nth-child(even)::after{
    content: "»";
}

.movies-quotes span span{
    font-weight: bolder;
}

input:checked +span:after{
    content: "❤️";
} 

button:hover{
    visibility: hidden;
}