/* general start */
*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    background-color: rgb(28, 27, 27);
    color:aliceblue;
}

:root{
    --rounded: 5px;
}

main{
    display: flex ;
    max-height: 100%;
}

body header , header div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header i{
    margin: 1rem;
}

.hover:hover{
    background-color: rgb(123, 123, 123);
    border-radius: var(--rounded);
}
/* general end */

/* colonna utente start */
.userBar{
    background-color: rgb(64, 74, 83);
    justify-content: space-between;
    width: 2rem;
    padding: 10px 0;
}

.userBar , .userBar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* colonna utente end */

/* colonna sx start */
.chat{
    border-radius: var(--rounded);
    display: flex;
    width: 90%;
}

.sideBarSx{
    width: 20%;
    background-color: rgb(45, 45, 45);
    border: 1px solid black;
    padding: 10px;
}

.chat header{
    display: flex ;
    justify-content: space-between;
    height: 3rem;
}

.chat header div:last-child i{
    margin-left: 1rem;
}

.chat input{
    width: 80%;
    border: none;
}

.chat section > div{
    background-color: aliceblue;
    color: black;
    border-radius: var(--rounded);
    width: 90%;
    margin: auto;
    padding: 1px;
}

.archivio{
    margin:10px;
    border-radius: var(--rounded);
}
.archivio i{
    padding: 20px 20px;
}

.chat ul{
    list-style: none;
    overflow-y: scroll;
}

.fullRadius{    
    border-radius: 100%;
}

.chat li{    
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    right: 40px;
    padding: 5px;
}
/* colonna sx end*/

/* colonna dx start */
.sideBarDx{
    width: 70%;
    border: 1px solid black;
}

.sideBarDx header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    padding: 10px;
}

.sideBarDx header span:first-child{
    display: block;
    font-weight: bold;
}

.sideBarDx header div:first-child{
    display: flex;
    gap: 10px;
}
/* colonna dx end */

/* zona messaggi start */
.mex{
    background-color: aliceblue;
    height: 80%;
    overflow-y: scroll;
}


/* zona messaggi end */

/* zona scrivi messaggio start */
.writeBar{
    background-color: rgb(46, 56, 65);
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.writeBar > div:first-child{
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}

.writeBar > div:nth-child(2){
    flex-grow: 2;
}

.writeBar > div:last-child{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
/* zona scrivi messaggio end */

/* scrollbar custom start */
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f11b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2e2e2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  /* scrollbar custom end */