/* general start */
*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    background-color: rgb(28, 27, 27);
    color:aliceblue;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 1rem;
}

:root{
    --rounded: 5px;
}

main{
    display: flex ;
    background-color: rgb(25, 74, 95);
    height: 100%;
    margin: 0;
}

main section:nth-child(2){
    flex-grow: 9;  
}

body header , header div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header i{
    margin: 1rem;
}

.hover:hover{
    background-color: rgb(123, 123, 123);
    border-radius: var(--rounded);
}

.fullRadius{    
    border-radius: 100%;
}

/* general end */

/* colonna utente start */
.userBar{
    background-color: rgb(64, 74, 83);
    justify-content: space-between;
    width: 2rem;
    padding: 10px 0;
    border: 1px solid black;
}

.userBar , .userBar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* colonna utente end */

/* colonna sx start */
.chat{
    border-radius: var(--rounded);
    display: flex;
    overflow-y: hidden; 
}

.sideBarSx{
    background-color: rgb(45, 45, 45);
    border: 1px solid black;
    padding: 10px;
}

.chat header{
    display: flex ;
    justify-content: space-between;
    height: 3rem;
}

.chat header div:last-child i{
    margin-left: 1rem;
}

.chat input{
    width: 80%;
    border: none;
    background-color: #ffffff00;
}

.chat textarea:focus, input:focus{
    outline: none;

}

#searchBar{
    background-color: aliceblue;
    color: black;
    border-radius: var(--rounded);
    width: 90%;
    margin: auto;
    padding: 1px;
}

.archivio{
    margin:10px;
    border-radius: var(--rounded);
}
.archivio i{
    padding: 20px 20px;
}

.chat ul{
    list-style: none;
    overflow-y: scroll;
    height: 100%;
}

.chat li{    
    display: flex;
    align-items: center;
    /* gap: 20px; */
    position: relative;
    right: 40px;
    padding: 5px;
    flex-wrap: wrap;
}

.chat li span{    
    font-size: small;
}

.chat li div span:first-child{    
    font-size:medium;
    font-weight: bolder;
}

.chat li div span{    
    display: block;
    margin: 10px ;
}

.chat li div span:last-child::before{    
    content: "✅";
}

/* colonna sx end*/

/* colonna dx start */
.sideBarDx{
    border: 1px solid black;
    flex-grow: 2;
    overflow-y: hidden; 
}

.sideBarDx header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    padding: 10px;
    height: auto;
}

.sideBarDx header span:first-child{
    display: block;
    font-weight: bold;
}

.sideBarDx header div:first-child{
    display: flex;
    gap: 10px;
}
/* colonna dx end */

/* zona messaggi start */
.mex{
    background-image: url(./assets/ZWbv3h.jpg);
    height: 85%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mex div{
    padding: 10px ;
    display: flex;
    flex-direction: column;
}

.mex span{
    font-weight: bold;
}

.mex .userX {
    background-color: rgb(188, 222, 255);
    border: 1px solid black;
    color: black;
    border-radius: var(--rounded);
    width: 50%;
    position: relative;
    left: 10rem;
}
.mex .userY {
    background-color: rgb(253, 252, 165);
    border: 1px solid black;
    color: black;
    border-radius: var(--rounded);
    width: 50%;
    position: relative;
    right: 10rem;
}

/* zona messaggi end */

/* zona scrivi messaggio start */
.writeBar{
    background-color: rgb(46, 56, 65);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: auto;
}

.writeBar > div:first-child{
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}

.writeBar > div:nth-child(2){
    flex-grow: 2;
}

.writeBar > div:last-child{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.writeBar input{
    border-radius: var(--rounded);
}
/* zona scrivi messaggio end */

/* scrollbar custom start */
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f11b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e2e2e2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  /* scrollbar custom end */
